<div class="sidebar bg-dark  text-dark" [class.collapsed]="isCollapsed$ | async" [class.mobile-collapsed]="isMobile">
    <div class="logo-container p-3 d-flex align-items-center justify-content-center">
      <div class="d-flex align-items-center justify-content-center text-center">
        <h4 class="mb-0 ms-2 text-center " [class.d-none]="(isCollapsed$ | async) || isMobile" style="font-family: DM Sans;font-size: 24px;font-weight: 600;color: #ffffff;">{{manager.firstName| uppercase}}</h4>
      </div>
    </div>
  
    <div class="user-info p-3 border-bottom text-center">
      <div class="user-avatar-wrapper mb-2">
        <img src="/manager.jpg" class="user-avatar" alt="User">
      </div>
      <div class="g-0 m-0" [class.d-none]="(isCollapsed$ | async) || isMobile">
        <h6 class="m-0 " style="color: #ffffff;font-size: 15px;font-weight: 600;">{{manager.firstName}} {{manager.lastName}}</h6>
        <small class="m-0" style="font-size: 10px;font-family: Roboto;color: #ffffff">Manager</small>
      </div>
    </div>
  
    <div class="menu-wrapper">
      <ul class="nav flex-column p-3">
        <li class="nav-item" *ngFor="let item of menuItems">
          <a class="nav-link d-flex align-items-center"
             [routerLink]="[item.path]"
             routerLinkActive="active"
             (click)="updateBreadcrumb(item.label)">
            <i [class]="'bi ' + item.icon + ' menu-icon'"></i>
            <span class="menu-text" [class.d-none]="(isCollapsed$ | async) || isMobile">
              {{ item.label }}
            </span>
            <span class="menu-tooltip" *ngIf="(isCollapsed$ | async) || isMobile">
              {{ item.label }}
            </span>
          </a>
        </li>
      </ul>
    </div>
  </div>