<section class="news-section ps-4">
  <!-- Trending Section -->
  <div class="section-header">
    <div class="d-flex justify-content-between">
      <h2 class="section-title">Trending</h2>
      <h4 class="section-title text-secondary" style="cursor: pointer;" routerLink="/Customer/Movie">See more</h4>
    </div>
    <div class="arrows d-flex justify-content-end">
      <button class="arrow-btn" (click)="scrollLeft(0)">&lt;</button>
      <button class="arrow-btn" (click)="scrollRight(0)">&gt;</button>
    </div>
  </div>

  <div id="section-0" class="scroll-container">
    <div class="row">
      <div
        *ngFor="let dvd of rows[0]"
        [ngClass]="isLatestSection 
          ? 'col-12 col-sm-6 col-md-3 col-lg-2' 
          : 'col-12 col-sm-6 col-md-4 col-lg-3'"
        (click)="onMovieClick(dvd.id)">
        <div class="news-card">
          <img [src]="dvd.imageUrl" [alt]="dvd.title" [ngStyle]="{ 'height': isLatestSection ? '100%' : ' 100%' }"
          class="card-image" style=" 
        object-position: top;
        ;
       "  />
          <div class="hover-content text-center">
            <h3 class="hover-title">{{ dvd.title }}</h3>
            <p class="hover-meta">Price: ${{ dvd.price }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Second Section -->
  <div class="section-header">
    <div class="d-flex justify-content-between">
      <h2 class="section-title">Trending</h2> 
      <h4 class="section-title text-secondary"  style="cursor: pointer;" routerLink="/Customer/Movie">See more</h4>
    </div>
    <div class="arrows d-flex justify-content-end">
      <button class="arrow-btn" (click)="scrollLeft(1)">&lt;</button>
      <button class="arrow-btn" (click)="scrollRight(1)">&gt;</button>
    </div>
  </div>
  <div id="section-1" class="scroll-container">
    <div class="row">
      <div
        *ngFor="let dvd of rows[1]"
        [ngClass]="isLatestSection 
          ? 'col-12 col-sm-6 col-md-3 col-lg-2' 
          : 'col-12 col-sm-6 col-md-4 col-lg-3'"
        (click)="onMovieClick(dvd.id)">
        <div class="news-card">
          <img [src]="dvd.imageUrl" [alt]="dvd.title" [ngStyle]="{ 'height': isLatestSection ? '100%' : ' 100%' }"
          class="card-image" style=" 
        object-position: top;
        ;
       " />
          <div class="hover-content text-center">
            <h3 class="hover-title">{{ dvd.title }}</h3>
            <p class="hover-meta">Price: ${{ dvd.price }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
