<!-- <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">iMovies</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#">Adults</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Kids</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Trend</a>
          </li>
          <li class="nav-item"> 
            <a class="nav-link" href="#">My List</a>
          </li>
        </ul>
      
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-light" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
   -->




<!-- 

   <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">Movies <span class="text-white">World</span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="bi bi-house"></i> Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Movies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">TV Shows</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">My List</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search movies...">
          <button class="btn btn-outline-light" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
  
  <div class="container-fluid p-0">
    <div class="hero-section position-relative" *ngIf="selectedDVD" 
         [style.background-image]="'url(' + selectedDVD.ImageUrl + ')'">
      <div class="overlay"></div>
      <div class="container position-relative py-5">
        <div class="row min-vh-75 align-items-center">
          <div class="col-md-6">
            <h1 class="display-4 text-white">{{selectedDVD.Title}}</h1>
            <p class="lead text-white-50">{{selectedDVD.Genre}} | {{selectedDVD.Director}}</p>
            <p class="text-white">{{selectedDVD.Description}}</p>
            <div class="d-flex gap-3">
              <button class="btn btn-primary">
                <i class="bi bi-play-fill"></i> Watch Now
              </button>
              <button class="btn btn-outline-light">
                <i class="bi bi-plus"></i> Add to List
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="container py-5">
      <h2 class="text-white mb-4">Featured Movies</h2>
      <div class="row g-4">
        <div class="col-md-4 col-lg-3" *ngFor="let dvd of DVDs" (click)="selectDVD(dvd)">
          <div class="card movie-card bg-dark text-white">
            <img [src]="dvd.ImageUrl" class="card-img-top" [alt]="dvd.Title">
            <div class="card-body">
              <h5 class="card-title">{{dvd.Title}}</h5>
              <p class="card-text">{{dvd.Genre}}</p>
              <p class="card-text"><small class="text-muted">${{dvd.Price}}</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->



  <div class="slider">
    <div class="list">
      <div class="item" *ngFor="let dvd of DVDs; let i = index" [class.active]="i === currentIndex">
        <img [src]="dvd.BackgroundUrl" [alt]="dvd.Title">
        <div class="content">
          <div class="title">{{dvd.Title}}</div>
          <div class="type">{{dvd.Genre}}</div>
          <div class="description">{{dvd.Description}}</div>
          <div class="button">
            <button class="btn btn-light">SEE MORE</button>
          </div>
        </div>
      </div>
    </div>
  
    <div class="thumbnail">
      <div  class="item" *ngFor="let dvd of DVDs| slice:0:4; let i = index" [class.active]="i === currentIndex">
        <img  [src]="dvd.ImageUrl" [alt]="dvd.Title">
      </div>
    </div>
  
    <div class="nextPrevArrows">
      <button class="prev" (click)="moveSlider('prev')">&#60;</button>
      <button class="next" (click)="moveSlider('next')">&#62;</button>
    </div>
  </div>