
table {
    width: 100%;
  }

  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 10%;
    
  }

  .mat-mdc-header-row{
    background-color: rgb(116, 116, 116);
    border-radius: 50%;
  }