<mat-form-field>
  <mat-label>Search Dvd</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Raju" #input>
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" class="mat-table" style="border-radius: 50%;">
  
    <!-- NIC Column -->
    <ng-container matColumnDef="nic">
      <th mat-header-cell *matHeaderCellDef> NIC </th>
      <td mat-cell *matCellDef="let customer"> {{ customer.nic }} </td>
    </ng-container>

    <!-- First Name Column -->
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef> First Name </th>
      <td mat-cell *matCellDef="let customer"> {{ customer.firstName }} </td>
    </ng-container>

    <!-- Phone Number Column -->
    <ng-container matColumnDef="phoneNumber">
      <th mat-header-cell *matHeaderCellDef> Phone Number </th>
      <td mat-cell *matCellDef="let customer"> {{ customer.phoneNumber }} </td>
    </ng-container>

    <!-- Join Date Column -->
    <ng-container matColumnDef="joinDate">
      <th mat-header-cell *matHeaderCellDef> Join Date </th>
      <td mat-cell *matCellDef="let customer"> {{ customer.joinDate | date: 'mediumDate' }} </td>
    </ng-container>

    <!-- Table Header Row -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <!-- Table Data Row -->
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <!-- MatPaginator -->
  <mat-paginator [pageSizeOptions]="[5,10,15,20,25,30]" showFirstLastButtons aria-label="Select page of Customers">
  </mat-paginator>
</div>
