<!-- 
  <div class="collection z-3 p-0" style="width: 100%;  min-height: calc(100vh - 50px); ">
  <div class="content-container row p-0 m-0 g-0">
    <div class="col-12 col-xl-12 featured-content p-0"
      style="background: linear-gradient(to bottom, rgba(0,0,0,0), #151515), url('/Background image/back.jpg');  height: 50vh;object-fit: cover;  
      padding: 50px;">
      <div class="m-5">
        <img src="/Background image/back font.png" alt="" style="width: 200px;z-index: 100;">
        <p class="featured-desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto illo dolor
          deserunt nam assumenda ipsa eligendi dolore, ipsum id fugiat quo enim impedit, laboriosam omnis
          minima voluptatibus incidunt. Accusamus, provident.</p>
        <button class="featured-button">RENT</button>
      </div>

    </div>

    <div class="movie-list-container">
      <h1 class="movie-list-title mt-0" style="font-family:'Roboto';display: block;
      font-size: 2em;
      margin-block-start: 0.67em;
      margin-block-end: 0.67em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      font-weight: bold!important;
      unicode-bidi: isolate;
  " >TRENDING MOVIES</h1>
      <div class="movie-list-wrapper">
        <div class="movie-list row flex-nowrap"
          [style.transform]="sections[0].currentIndex | slideTransformPipe: cardWidth : sections[0].direction : DVDs.length : visibleCards">
          <div class="movie-list-item col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let dvd of DVDs">
            <div class="position-relative">
              <img class="movie-list-item-img" [src]="dvd.ImageUrl" alt="Movie Image">
              <div class="position-absolute" style="top: 20%; left: 10%;">
                <span class="movie-list-item-title">{{ dvd.Title }}</span>
                <p class="movie-list-item-desc">{{ dvd.Description | truncate: 50 }}</p>
                <button class="movie-list-item-button" (click)="gotoDetails(dvd.Id)">RENT</button>
              </div>
            </div>
          </div>
        </div>
        <i class="fas fa-chevron-left arrow arrow-left" (click)="slide(0, 'left')"></i>
        <i class="fas fa-chevron-right arrow arrow-right" (click)="slide(0, 'right')"></i>
      </div>
    </div>

    <div class="movie-list-container">
      <h1 class="movie-list-title mt-0" style="font-family:'Roboto';font-size: 2em;font-weight: bold;" >New Releases Movies</h1>
      <div class="movie-list-wrapper">
        <div class="movie-list row flex-nowrap"
          [style.transform]="sections[1].currentIndex | slideTransformPipe: cardWidth : sections[1].direction : DVDs.length : visibleCards">
          <div class="movie-list-item col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let dvd of DVDs">
            <div class="position-relative">
              <img class="movie-list-item-img" [src]="dvd.ImageUrl" alt="Movie Image">
              <div class="position-absolute" style="top: 20%; left: 10%;">
                <span class="movie-list-item-title">{{ dvd.Title }}</span>
                <p class="movie-list-item-desc">{{ dvd.Description | truncate: 50 }}</p>
                <button class="movie-list-item-button">RENT</button>
              </div>
            </div>
          </div>
        </div>
        <i class="fas fa-chevron-left arrow arrow-left" (click)="slide(1, 'left')"></i>
        <i class="fas fa-chevron-right arrow arrow-right" (click)="slide(1, 'right')"></i>
      </div>
    </div>


    <div class="col-12 featured-content"
      style="background: linear-gradient(to bottom, rgba(0,0,0,0), #151515), url('/Background image/Uncharted.jpg');">
      <p class="featured-desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto illo dolor deserunt
        nam assumenda ipsa eligendi dolore, ipsum id fugiat quo enim impedit, laboriosam omnis minima
        voluptatibus incidunt. Accusamus, provident.</p>
      <button class="featured-button">RENT</button>
    </div>


  </div>
</div>


 -->

 <section class="featured-section ms-4 mt-5">
  <div class="row g-4">
    <div class="col-12 col-lg-7">
      <div class="row g-4">
        <div class="col-12 col-lg-7" *ngFor="let dvd of DVD">
          <div class="game-card">
            <img [src]="dvd.BackgroundUrl" [alt]="dvd.Title" class="img-fluid" style="height: 300px; object-fit: cover; border-radius: 8px; border: 2px solid #ddd;">
            <div class="card-overlay">
              <span class="news-badge">Rent</span>
              <h2 class="game-title">{{ dvd.Title }}</h2>
              <p class="game-meta">${{ dvd.Price }} | {{ dvd.Description | truncate: 20 }}</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-5" *ngFor="let dvd of DVD">
          <div class="game-card">
            <img [src]="dvd.BackgroundUrl" [alt]="dvd.Title" class="img-fluid" style=" height: 300px; object-fit: cover; border-radius: 8px; border: 2px solid #ddd;">
            <div class="card-overlay">
              <span class="news-badge">Rent</span>
              <h2 class="game-title">{{ dvd.Title }}</h2>
              <p class="game-meta">{{ dvd.Price }} | {{ dvd.Description | truncate: 20 }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-12 col-lg-5">
      <div class="row g-4">
        <div class="col-6" *ngFor="let dvd of movies">
          <div class="game-card">
            <img [src]="dvd.BackgroundUrl" [alt]="dvd.Title" class="img-fluid" style="width: 400px; height: 140px; object-fit: cover; border-radius: 8px; border: 2px solid #ddd;">
            <div class="card-overlay p-2 ps-3">
              <h3 class="h5 game-title p-0" style="font-size:1rem;margin-bottom: 0%;">{{ dvd.Title }}</h3>
              <p class="h5 game-meta p-0" style="font-size:1rem;margin-bottom: 0%;">${{ dvd.Price }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
