<div class="container-fluid"
    style="background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(./Img/movie-collection-2k1.jpg); background-size: cover; background-attachment: fixed; background-position: center;">
    <div class="container d-flex justify-content-center align-items-center vh-100  ">
        <div class="card shadow-sm p-4 bg-transparent text-white border-White animate__animated animate__fadeInDown "
            style="border-radius: 12px;backdrop-filter: blur(13px); width: 55vh;box-shadow:0 8px 32px 0 rgba(0,0,0,0.37);height:max-content;">
            <div class="d-flex gap-3">
                <div style="width:100%;">
                    <!-- Registration Form -->
                    <div *ngIf="!isVerificationMode">
                        <h4 class="mb-3 " style="text-align: center;">Sign up</h4>
                        <form [formGroup]="signupForm" (ngSubmit)="Registeruser()">
                            <div class="d-flex gap-3">
                                <div class="form-group mb-3" style="width: 50%;">
                                    <div class="input-group">
                                        <div class="input-group-text" id="btnGroupAddon"><i class="bi bi-person"></i>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Enter your First Name"
                                            aria-label="Input group example" aria-describedby="btnGroupAddon"
                                            formControlName="FirstName">
                                    </div>
                                    <div *ngIf="signupForm.get('FirstName')?.touched && signupForm.get('FirstName')?.invalid"
                                        class="text-danger">
                                        <small *ngIf="signupForm.get('FirstName')?.errors?.['required']">First name is
                                            required.</small>
                                    </div>
                                </div>

                                <div class="form-group mb-3" style="width: 50%;">
                                    <div class="input-group">
                                        <div class="input-group-text" id="btnGroupAddon"><i class="bi bi-person"></i>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Enter your Last Name"
                                            aria-label="Input group example" aria-describedby="btnGroupAddon"
                                            formControlName="LastName">
                                    </div>
                                    <div *ngIf="signupForm.get('LastName')?.touched && signupForm.get('LastName')?.invalid"
                                        class="text-danger">
                                        <small *ngIf="signupForm.get('LastName')?.errors?.['required']">Last name is
                                            required.</small>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group mb-3">
                                <div class="input-group">
                                    <div class="input-group-text" id="btnGroupAddon"><i class="bi bi-envelope"></i>
                                    </div>
                                    <input type="email" class="form-control" placeholder="Your Email"
                                        aria-label="Input group example" aria-describedby="btnGroupAddon"
                                        formControlName="email">
                                </div>
                                <div *ngIf="signupForm.get('email')?.touched && signupForm.get('email')?.invalid"
                                    class="text-danger">
                                    <small *ngIf="signupForm.get('email')?.errors?.['required']">Email is
                                        required.</small>
                                    <small *ngIf="signupForm.get('email')?.errors?.['email']">Please enter a valid email
                                        address.</small>
                                </div>
                            </div>
                            <div class="form-group mb-3">
                                <div class="input-group">
                                    <div class="input-group-text" id="btnGroupAddon"><i class="bi bi-envelope"></i>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Your NIC"
                                        aria-label="Input group example" aria-describedby="btnGroupAddon"
                                        formControlName="Nic">
                                </div>
                                <div *ngIf="signupForm.get('Nic')?.touched && signupForm.get('Nic')?.invalid"
                                    class="text-danger">
                                    <small *ngIf="signupForm.get('Nic')?.errors?.['required']">NIC is required.</small>
                                    <small *ngIf="signupForm.get('Nic')?.errors?.['pattern']">Please enter a valid NIC
                                        number.</small>
                                </div>
                            </div>

                            <div class="form-group mb-3 mt-4">
                                <div class="input-group">
                                    <div class="input-group-text" id="btnGroupAddon"><i class="bi bi-lock"></i></div>
                                    <input [type]="showPassword ? 'text' : 'password'" class="form-control"
                                        style="box-shadow: none; border: none;" placeholder="Password"
                                        aria-label="Password input" aria-describedby="btnGroupAddon"
                                        formControlName="password" (input)="onPasswordChange()">
                                    <button type="button" class="btn btn-outline-secondary"
                                        (click)="togglePasswordVisibility()">
                                        <i [ngClass]="showPassword ? 'bi bi-eye-slash' : 'bi bi-eye'"></i>
                                    </button>
                                </div>
                                <div *ngIf="passwordStrength">
                                    <div [ngClass]="passwordStrength.level" class="password-strength-meter"></div>
                                    <small>{{ passwordStrength.message }}</small>
                                </div>
                                <div *ngIf="signupForm.get('password')?.touched && signupForm.get('password')?.invalid"
                                    class="text-danger">
                                    <small>Password must be at least 8 characters long, contain an uppercase letter, a
                                        number, and a special character.</small>
                                </div>


                            </div>

                            <div class="form-group mb-3 mt-4">
                                <div class="input-group">
                                    <div class="input-group-text" id="btnGroupAddon"><i class="bi bi-lock"></i></div>
                                    <input [type]="showPassword ? 'text' : 'password'" class="form-control"
                                        style="box-shadow: none; border: none;" placeholder="confirmPassword"
                                        aria-label="Password input" aria-describedby="btnGroupAddon"
                                        formControlName="confirmPassword">
                                    <button type="button" class="btn btn-outline-secondary"
                                        (click)="togglePasswordVisibility()">
                                        <i [ngClass]="showPassword ? 'bi bi-eye-slash' : 'bi bi-eye'"></i>
                                    </button>
                                </div>

                                <div *ngIf="signupForm.get('confirmPassword')?.touched && signupForm.get('confirmPassword')?.invalid"
                                    class="text-danger">
                                    <small>Password mis match</small>
                                </div>


                            </div>



                            <div class="form-check mb-3">
                                <input type="checkbox" id="terms" formControlName="terms" class="form-check-input">
                                <label for="terms" class="form-check-label">
                                    I agree to all statements in <a href="#">Terms of service</a>
                                </label>
                            </div>

                            <button type="submit" class="btn btn-primary w-100"
                                [disabled]="signupForm.invalid">Register</button>


                            <p class="text-center  mt-3">
                                <a href="#" class="text-white" routerLink="/Dvd/Login">I am already a member</a>
                            </p>
                        </form>
                    </div>

                    <!-- Verification Form -->
                    <div *ngIf="isVerificationMode">
                        <h4 class="mb-3 text-center">Email Verification</h4>
                        <form [formGroup]="verificationForm" (ngSubmit)="verifyEmail()">
                            <div class="form-group mb-3">
                                <div class="input-group">
                                    <div class="input-group-text" id="btnGroupAddon"><i
                                            class="bi bi-envelope-check"></i></div>
                                    <input type="text" class="form-control" placeholder="Enter Verification Code"
                                        formControlName="verificationCode">
                                </div>
                                <div *ngIf="verificationForm.get('verificationCode')?.touched && verificationForm.get('verificationCode')?.invalid"
                                    class="text-danger">
                                    <small>Verification code is required.</small>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between">
                                <button type="button" class="btn btn-outline-secondary"
                                 >Resend Code</button>
                                <button type="submit" class="btn btn-primary">Verify</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>