.sidebar {
  width: 200px;
  transition: width 0.3s ease-in-out;
  overflow: hidden;
  background: #f8f9fa;
  border-right: 1px solid #dee2e6;
  padding: 15px;
  height: 100vh;
  margin-bottom: 0px !important;
}

.content {
  margin-left: 240px;
  transition: margin-left 0.3s ease-in-out;
}

.sidebar a:hover {
  background-color: #e9ecef;
}

.sidebar a {
  text-decoration: none;
  display: block;
  padding: 10px;
  margin: 5px 0;
  color: #212529;
  border-radius: 5px;
}

.sidebar.collapsed {
  width: 70px;
  /* height: auto  ; */
}

.sidebar img {
  transition: width 0.3s ease-in-out;
}

.sidebar.collapsed img {
  width: 40px;
}

.sidebar .d-flex span {
  transition: opacity 0.3s ease-in-out;
}

.sidebar.collapsed .d-flex span {
  display: none;
}