.stat-card {
    height: 25vh;
  }

  /* Default Styles for Larger Screens (Desktop) */
  @media (min-width: 1200px) {
    .stat-card {
      font-size: 1.25rem;
    }

    .card-title {
      font-size: 1.25rem;
      font-weight: 500;
    }

    .card-text {
      font-size: 2rem;
      font-weight: 500;
    }
  }

  /* Medium Screens (Tablets and Laptops) */
  @media (max-width: 1199px) and (min-width: 768px) {
    .stat-card {
      font-size: 1.125rem;
    }

    .card-title {
      font-size: 1.125rem;
      font-weight: 500;
    }

    .card-text {
      font-size: 1.75rem;
      font-weight: 500;
    }
  }

  /* Small Screens (Mobile) */
  @media (max-width: 767px) {
    .stat-card {
      height: auto; /* Adjust height to fit content on mobile */
      font-size: 1rem;
    }

    .card-title {
      font-size: 1rem;
      font-weight: 500;
    }

    .card-text {
      font-size: 1.25rem;
      font-weight: 500;
    }

    .mt-2 small {
      font-size: .75em;
    }
  }